/.bash_history
/.bash_logout
/.bashrc
/.bashrc.swo
/.cache
/.docker
/.gitconfig
/.java
/.landscape
/.m2
/.motd_shown
/.profile
/.sonarlint
/.sts4
/.sudo_as_admin_successful
/.viminfo
/.vscode
/.vscode-server
/.wget-hsts
/.wsl-config
/file.txt
/.aws
/.azure